@model ITechArt.SurveysCreator.WebApp.ViewModels.UsersPagesViewModel

@{
    ViewData["Title"] = "Users List";
}

<h2>Users</h2>

<a class="btn btn-dark mb-4" asp-action="Create">Create</a>
<div class="text-center">
    <table class="table">
        @foreach (var item in Model.UsersInfo)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.SecondName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Role)
                </td>
                <td class="d-flex justify-content-center align-items-center">
                    <a class="btn btn-sm btn-outline-dark mr-2" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <form method="post" asp-controller="Admin" asp-action="Delete" asp-route-id="@item.Id">
                        <input class="btn btn-sm btn-outline-dark ml-2" type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </table>
    <div class="d-flex justify-content-center align-items-center">

        @if (Model.PagesInfo.PageNumber == 1)
        {
            <a class="btn btn-sm btn-dark px-2 disabled" aria-disabled="True" tabindex="-1" asp-action="Index" asp-route-pagenumber="@(Model.PagesInfo.PageNumber - 1)"> &lt; </a>
        }
        else
        {
    <a class="btn btn-sm btn-dark px-2" asp-action="Index" asp-route-pagenumber="@(Model.PagesInfo.PageNumber - 1)"> &lt; </a>
        }

        <label class="px-4 m-0">@Model.PagesInfo.PageNumber</label>

        @if (Model.PagesInfo.PageNumber == Model.PagesInfo.TotalPagesCount)
        {
            <a class="btn btn-sm btn-dark px-2 disabled" aria-disabled="True" tabindex="-1" asp-action="Index" asp-route-pagenumber="@(Model.PagesInfo.PageNumber + 1)"> > </a>
        }
        else
        {
            <a class="btn btn-sm btn-dark px-2" asp-action="Index" asp-route-pagenumber="@(Model.PagesInfo.PageNumber + 1)"> > </a>
        }
    </div>
</div>
