@model IEnumerable<ITechArt.SurveysCreator.WebApp.ViewModels.ShowUserInfoViewModel>

@{
    ViewData["Title"] = "Users List";
}

<h2>Users</h2>

<a class="btn btn-dark mb-4" asp-action="Create">Create</a>
<div class="text-center">
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.SecondName)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Role)
                </td>
                <td>
                    <form method="post" asp-controller="Admin" asp-action="Delete" asp-route-id="@item.Id">
                        <input class="btn btn-sm btn-outline-dark m-2" type="submit" value="Delete" />
                    </form>
                    <a class="btn btn-sm btn-outline-dark m-2" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </table>
</div>
